*.zip


npm start 

> backend@1.0.0 start
> node server.js

[dotenv@17.3.1] injecting env (5) from .env -- tip: ⚙️  specify custom .env file path with { path: '/custom/path/.env' }
RPC URL: http://127.0.0.1:7545
[dotenv@17.3.1] injecting env (0) from .env -- tip: ⚙️  load multiple .env files with { path: ['.env.local', '.env'] }
🚀 Server running on http://localhost:5000
MongoDB Connected
Wallet address: 0x5845bb10898D58481410fFbeC60a6ABC203F374b
Balance: 99.997768593357498526
Uploading file to IPFS...
IPFS CID: QmWsLS1KLAjJCHsu6ubtDRi7JQNAHFFVSc2fFoHCknzSRr
🚀 Storing hash on blockchain: 56cc51dd5f9b7d0c859d3846c48d276beaf1d16f3252c4373fa3b747761d20db
Uploading file to IPFS...
IPFS CID: QmTaoRzq7zRDBjJeWvB2sjgDTFRJCcMPX1QEFTgHNpMDQH
🚀 Storing hash on blockchain: 0adfaa8025735b9445f29aaa3707fd4ad52455fc549c4405a0a29c733ead3aab
Uploaded Hash: 0adfaa8025735b9445f29aaa3707fd4ad52455fc549c4405a0a29c733ead3aab
Blockchain Hash: 0adfaa8025735b9445f29aaa3707fd4ad52455fc549c4405a0a29c733ead3aab
Hash Match: true



Microsoft Windows [Version 10.0.26200.7840]
(c) Microsoft Corporation. All rights reserved.

C:\Users\swarn\Downloads\kubo_v0.40.1_windows-amd64\kubo>.\ipfs.exe version
ipfs version 0.40.1

C:\Users\swarn\Downloads\kubo_v0.40.1_windows-amd64\kubo>.\ipfs.exe init
generating ED25519 keypair...done
peer identity: 12D3KooWH9T9Y4D3WYeuMytW3cNDJXsiXe7MbCHZzYoNPqiCksRa
initializing IPFS node at C:\Users\swarn\.ipfs

C:\Users\swarn\Downloads\kubo_v0.40.1_windows-amd64\kubo>.\ipfs.exe daemon
Initializing daemon...
Kubo version: 0.40.1-39f8a6554
Repo version: 18
System version: amd64/windows
Golang version: go1.25.7
PeerID: 12D3KooWH9T9Y4D3WYeuMytW3cNDJXsiXe7MbCHZzYoNPqiCksRa
Swarm listening on 127.0.0.1:4001 (TCP+UDP)
Swarm listening on 169.254.147.6:4001 (TCP+UDP)
Swarm listening on 169.254.148.123:4001 (TCP+UDP)
Swarm listening on 169.254.224.150:4001 (TCP+UDP)
Swarm listening on 172.16.16.213:4001 (TCP+UDP)
Swarm listening on [::1]:4001 (TCP+UDP)
Run 'ipfs id' to inspect announced and discovered multiaddrs of this node.


ℹ️  Anonymous telemetry will be enabled in 15m0s

Kubo will collect anonymous usage data to help improve the software:
• What:  Feature usage and configuration (no personal data)
         Use GOLOG_LOG_LEVEL="telemetry=debug" to inspect collected data
• When:  First collection in 15m0s, then every 24h
• How:   HTTP POST to https://telemetry.ipshipyard.dev
         Anonymous ID: c244be3b-74d1-4a52-bc9b-b61811eb8244

No data sent yet. To opt-out before collection starts:
• Set environment: IPFS_TELEMETRY=off
• Or run: ipfs config Plugins.Plugins.telemetry.Config.Mode off
• Then restart daemon

This message is shown only once.
Learn more: https://github.com/ipfs/kubo/blob/master/docs/telemetry.md


RPC API server listening on /ip4/127.0.0.1/tcp/5001
WebUI: http://127.0.0.1:5001/webui
Gateway server listening on /ip4/127.0.0.1/tcp/8080
Routing V1 API exposed at http://127.0.0.1:8080/routing/v1
Daemon is ready
2026-03-15T22:29:34.722+0530    INFO    [WARN] mdns: Failed to set multicast interface: no such interface
2026-03-15T22:29:34.809+0530    INFO    [WARN] mdns: Failed to set multicast interface: no such interface
2026-03-15T22:29:34.821+0530    INFO    [WARN] mdns: Failed to set multicast interface: no such interface
2026-03-15T22:29:34.838+0530    INFO    [WARN] mdns: Failed to set multicast interface: no such interface
2026-03-15T22:29:34.847+0530    INFO    [WARN] mdns: Failed to set multicast interface: no such interface
2026-03-17T08:06:55.099+0530    INFO    [WARN] mdns: Failed to set multicast interface: setsockopt: The requested address is not valid in its context.
2026-03-17T08:06:55.113+0530    INFO    [WARN] mdns: Failed to set multicast interface: setsockopt: The requested address is not valid in its context.
2026-03-17T08:06:55.254+0530    INFO    [WARN] mdns: Failed to set multicast interface: setsockopt: The requested address is not valid in its context.
2026-03-17T08:06:55.111+0530    ERROR   autoconf        autoconf/fetch.go:53    using 1.7-day-old cached autoconf (last successful fetch: 2026-03-15T14:15:11+05:30)
2026-03-17T08:06:55.260+0530    INFO    [WARN] mdns: Failed to set multicast interface: setsockopt: The requested address is not valid in its context.
2026-03-17T08:06:55.339+0530    INFO    [WARN] mdns: Failed to set multicast interface: setsockopt: The requested address is not valid in its context.
2026-03-17T08:07:55.150+0530    INFO    [WARN] mdns: Failed to set multicast interface: setsockopt: The requested address is not valid in its context.
2026-03-17T08:07:55.155+0530    INFO    [WARN] mdns: Failed to set multicast interface: setsockopt: The requested address is not valid in its context.
2026-03-17T08:07:55.160+0530    INFO    [WARN] mdns: Failed to set multicast interface: setsockopt: The requested address is not valid in its context.
2026-03-17T08:07:55.161+0530    INFO    [WARN] mdns: Failed to set multicast interface: setsockopt: The requested address is not valid in its context.
2026-03-17T08:07:55.167+0530    INFO    [WARN] mdns: Failed to set multicast interface: setsockopt: The requested address is not valid in its context.
2026-03-17T08:08:55.165+0530    INFO    [WARN] mdns: Failed to set multicast interface: setsockopt: The requested address is not valid in its context.
2026-03-17T08:08:55.185+0530    INFO    [WARN] mdns: Failed to set multicast interface: setsockopt: The requested address is not valid in its context.
2026-03-17T08:08:55.220+0530    INFO    [WARN] mdns: Failed to set multicast interface: setsockopt: The requested address is not valid in its context.
2026-03-17T08:08:55.224+0530    INFO    [WARN] mdns: Failed to set multicast interface: setsockopt: The requested address is not valid in its context.
2026-03-17T08:08:55.254+0530    INFO    [WARN] mdns: Failed to set multicast interface: setsockopt: The requested address is not valid in its context.
